:root {
    --bgc: #777587;
    --purp: #7626A4;
    --white: #fff;
}

html {
    background-color: var(--bgc);
    font-family: 'Courier New', Courier, monospace;
}

article {
    border: var(--white);
    border-style: dashed;
    max-width: fit-content;
    margin: 30px;
    display: inline-block;
    position: relative;

}

p {
    margin: 3px;
}


.thead {
    border: #fff;
    position: absolute;
    justify-self: center;
}
.sectioner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    color: var(--purp);
}

.boring {
    color: var(--white);
}